.brand { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 128px !important;
    height: 128px !important;
    pointer-events: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}