.page {
  --header-height: 56px;
  --right-width: 320px;
  --left-width: 320px;
  --transition: all 0.25s cubic-bezier(1, 0, 0, 1);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}

.main {
  width: 100%;
}

.side {
  position: fixed;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  z-index: 50;
  overflow: hidden;
  display: flex;
  scrollbar-width: thin;
}

.composition {
  @extend .side;
  width: var(--left-width);
}

.base_wrapper {
  padding: calc(var(--header-height) + 16px) 0px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_builder {
  background: white;
  width: 720px;
  min-height: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 8px #ddd;
}

.details_wrapper {
  @extend .side;
  right: 0;
  width: var(--right-width);

  background: white;
  border-left: 1px solid #eee;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tabs_details {
  background: #fcfcfc;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;

  .tab {
    height: 28px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-right: 1px solid #eee;
    cursor: pointer;
    transition: var(--transition);

    &:nth-of-type(odd) {
      border-left: none;
    }

    &[data-active="true"] {
      background: coral;

      * {
        color: white;
      }
    }

    h5 {
      margin: 0;
      padding: 0;
    }
  }
}

.tab_content {
  width: 100%;
  padding: 4px;
}

.item {
  padding: 8px;
  border-radius: 4px;
  margin: 1px;
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 0.875rem;

  &:hover {
    background: #eee;
    color: #434343;
  }

  &[data-active="true"] {
    background: #eee;
  }
}

.choice_item {
  @extend .item;
  font-weight: normal;
}
