@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.item_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

:root {
  --header-height: 64px;
  --phex: 81, 45, 168;
  --shex: 255, 153, 0;
  --primary-tint: rgb(var(--phex));
  --secondary-tint: rgb(var(--shex));
}
