.page {
    width: 100%;
    min-height: 100vh;
    --header-height: 64px;
    --primary-tint: #512DA8;
    --secondary-tint: #ff8000;
}

.headerWrapper {
    background: center/cover fixed url("/headerbg.svg");
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: var(--header-height);
    color: white;

    .logoWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .title {
            margin-left: 8px;
        }
    }

    .menu {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .item {
            height: 100%;
            font-size: 16px;
            padding: 8px 16px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: transparent;
            transition: all 250ms linear;

            &:hover {
                background: white;
                border-radius: 4px;
                color: var(--secondary-tint);
            }
        }

    }
}

.underHeader {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bigTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigText {
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin: 16px 0px;

    &.useCases {
        font-weight: bolder;
        color: white;
        display: block;
        height: 46px;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnGetStarted {
    border: none;
    height: 64px;
    padding: 0px 24px;
    background: var(--primary-tint);
    border-radius: 8px;
    color: white;
    font-family: 'Work Sans';
    font-size: 18px;


    *[ data-role ~= icon ] {
        margin: 0px 8px;
    }

}