.page {
    width: 100%;
    min-height: 100vh;
    --header-height: 64px;
    --phex: 81,45,168;
    --shex: 255,153,0;
    --primary-tint: rgb(var(--phex));
    --secondary-tint: rgb(var(--shex));
}

.headerWrapper {
    background: center/cover fixed url("/headerbg.svg");
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: var(--header-height);
    color: white;

    .logoWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .title {
            margin-left: 8px;
        }
    }

    .menu {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .item {
            height: 100%;
            font-size: 16px;
            padding: 8px 16px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: transparent;
            transition: all 250ms linear;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom-color: white;
            }
        }

    }
}

.underHeader {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bigTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigText {
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin: 16px 0px;

    &.useCases {
        font-weight: bolder;
        text-shadow: 1px 1px 4px #333;
        display: block;
        height: 46px;

        &:hover {
            color: var(--secondary-tint);
        }
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnGetStarted {
    border: none;
    height: 64px;
    padding: 0px 24px;
    background: var(--primary-tint);
    border-radius: 8px;
    color: white;
    font-family: 'Work Sans';
    font-size: 18px;
    box-shadow: 1px 1px 4px #777;
    position: relative;
    transition: all 250ms linear;

    *[ data-role ~= text ] {
        margin: 0px 8px;
    }

    *[ data-role ~= icon ] {
        margin: 0px 8px;
    }

    *[ data-role ~= glow ] {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: all 250ms linear;
        background: transparent;
        z-index: 1;
    }

    &:hover {
        background: var(--secondary-tint);
    }

}