.page_builder {
    min-height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;

    h3 {
        margin: 0;
    }

    * {
        &[data-has-content="false"] {
            color: grey;
        }
    }
}

.single_field {
    padding: 4px;
    margin: 8px 0px;
    border: 1px solid transparent;
    transition: all 250ms linear;

    &:hover {
        border: 1px solid rgba(65, 65, 206, 10%);
    }

    &[data-active="true"] {
        border: 1px solid rgba(65, 65, 206, 10%);
    }
}

.page_builder span[data-role="drop-indicator"] {
    background: transparent;
    height: 32px;
    width: 100%;
    display: block;
    border: 1px dashed #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i[data-role="icon"] {
        font-size: 18px;
        margin-right: 8px;
    }
}

.heading_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.fields_wrapper {
    flex-grow: 1;
    border: 1px dashed transparent;
    min-height: 30vh;

    &[data-dragging="true"] {
        border: 1px dashed #2196f3;
        border-radius: 4px;
    }
}

.input {
    height: 46px;
    width: 100%;
    font-family: "Work Sans";
    font-size: 24px;
    border: none;
    border: 1px dashed transparent;
    outline: none;

    &:hover,
    &:focus {
        outline: none;
        border: 1px dashed #2196f3;
    }
}

.input_title {
    @extend .input;
}

.input_description {
    @extend .input;
    height: 36px;
    font-size: 14px;
    outline: none;
}

.field_metadata {
    padding: 8px 0px;
    width: 100%;

    .meta_title {
        height: 38px;
        font-size: 16px;
        margin: 1px 0px;
    }

    .meta_desc {
        height: 28px;
        font-size: 14px;
        font-weight: lighter;
    }
}

.field {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    height: 36px;
    font-size: 14px;
}

.field_desc {
    height: 34px;
    font-size: 12px;
    font-weight: lighter;
}
